body{
    background-color: white;
}
.mine{
    width: 1200px;
    background-color: white;
    margin: 200px auto;

}
.mine-block{
    width: 200px;
    border: 1px solid black;
    text-align: center;
    padding: 16px 24px;
    float: left;
    box-sizing: border-box;
    margin:0 20px;
    height: 300px;
}